{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<body>

	<div class="header">
	  <a href="/home/" class="logo"><i class="fas fa-home"></i> Secure Snippet Test</a>
	  <div class="header-right">
	  	<form action="/submitLogout/">
	  	<button type="submit" class="btn"><i class="fas fa-sign-out-alt"></i> Logout</button>
	  </form>
	  </div>
	</div>

<div class="main">

		<div class="sidenav">
		  	<a href="/home/"><i class="fas fa-home"></i> Your Code Snippets</a>
		  	<a href="/upload/"><i class="fas fa-upload"></i> Upload Snippet</a>
		 	<a href="/searchSnippets/"><i class="fas fa-search"></i> Search Snippets</a>
		</div>

<div class="textContent">

	<h1>Edit Snippet</h1>

	{% if message %}
	<h2>Report:</h2>
	<h3>{{ message }}</h3>
	<div class='cleaned'>
		<p class='cleanedText'>{{ cleanSnippet }}</p>
	</div>
	{% endif %}

	<h3>Original Snippet by <i class="fas fa-user-circle"></i> {{snippet.uploadUser}}</h3>
	<div>{{snippet.originalSnippet}}</div>
	<br>
	<h3>Most Recent Edit by <i class="fas fa-user-circle"></i> {{snippet.editedBy}}</h3>
	<div>{{snippet.editedSnippet}}</div>
	<br><br>


	<form action='/editSnippet/{{snippet.id}}/' method='post'>{% csrf_token %}
		<label name = 'editedSnippet'><h3>Edit Code Snippet</h3></label>
		<div>
		<textarea name='editedSnippet' >{{snippet.originalSnippet}}</textarea>
		</div>
		<button class="btn" type='submit'><i class="fas fa-save"></i> Save Edit</button>
	</form>

</div>
</div>

</body>
</html>
