{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<body>

	<div class="header">
	  <a href="/home/" class="logo"><i class="fas fa-home"></i> Secure Snippet Test</a>
	  <div class="header-right">
	  	<form action="/submitLogout/">
	  	<button type="submit" class="btn"><i class="fas fa-sign-out-alt"></i> Logout</button>
	  </form>
	  </div>
	</div>

<div class="main">

		<div class="sidenav">
		  	<a href="/home/"><i class="fas fa-home"></i> Your Code Snippets</a>
		  	<a href="/upload/"><i class="fas fa-upload"></i> Upload Snippet</a>
		 	<a href="/searchSnippets/"><i class="fas fa-search"></i> Search Snippets</a>
		</div>

<div class="textContent">

		<h1>Welcome, {{username}}!</h1>
		<p>Snippet Test allows you to upload a code snippet for others to code review for security errors. Use this page to manage your Snippets!</p>

		{% if message %}
		<h2>Report:</h2>
		<h3>{{ message }}</h3>
		<div class='cleaned'>
			<p class='cleanedText'>{{ cleanSnippet }}</p>
		</div>
		{% endif %}

		<div class="accordionContainer">
		<h2>Your code snippets:</h2>
		<ul class = "list-unstyled">
			{% for snippet in allSnippets %}
			<li>
			<!-- <li>{{ snippet.originalSnippet }} -->
				<button class="accordion"><b>{{snippet.title}}</b>	</button>

				<div class="panel">
	  			<p><b>Language:</b> {{snippet.language}}</p>
	  			<p>{{snippet.originalSnippet}}</p>

				{% if snippet.editedBy %}
				<p><b>Edit suggested by {{snippet.editedBy}}</b>
				<br>
					{{snippet.editedSnippet}}
				</p>
				{% endif %}
	  			<form action = '/deleteSnippet/{{snippet.id}}/' class="delete"
				style='display: inline;'
				method='post'>{% csrf_token %}
				<button class="btn" type='submit'><i class="fas fa-trash-alt"></i> Delete</button>
				</form>
				<form action = '/openSnippet/{{snippet.id}}/'
				style='display: inline;'
				method='post'>{% csrf_token %}
				<button class="btn" type='submit'><i class="fas fa-edit"></i> Edit</button>
				</form>
				<br>
				
				</div>
			</li>
			{% endfor %}
		</ul>
		</div>

</div>

</div>


<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var panel = this.nextElementSibling;
        if (panel.style.display === "block") {
            panel.style.display = "none";
        } else {
            panel.style.display = "block";
        }
    });
}
</script>

</body>
</html>
