<h1>This is the Login Page </h1>

<!-- <ul>
	{% for user in users %}
	<li>{{user.uname}}</li>
	{% endfor %}
</ul> -->

<form action='/submitLogin/' method='post'>{% csrf_token %}
<div>
	<label name = 'username'>Username</label>
	<input type = 'text' name = 'username'/>
</div>
<div>
	<label name = 'password'>Password</label>
	<input type = 'password' name = 'password'/>
</div>
	<input type = 'submit' name = 'button' value = 'Create User'/>
	<input type = 'submit' name = 'button' value = 'Login'/>
</form>
{% if messages %}
	{% for message in messages %}
	<p>{{ message }}</p>
	{% endfor %}
{% endif %}