{% load static %}

<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<body>

	<div class="header">
	  <a href="/home/" class="logo">Secure Snippet Test</a>
	  <div class="header-right">
	  </div>
	</div>

	<div class="login">

	<h1>Login</h1>

	<form action='/login/' method='post'>{% csrf_token %}
	<div class='container'>
		<label name = 'username'>Username</label>
		<br>
		<input type = 'text' name = 'username'/>
		<br>
		<label name = 'password'>Password</label>
		<br>
		<input type = 'password' name = 'password'/>
		<br>
		<br>
		<button class="btn" type='submit' name="button" value="Create User"><i class="far fa-plus-square"></i> Create User</button>	
		<!-- <input type = 'submit' name = 'button' value = 'Create User'/> -->
		<button class="btn" type='submit' name="button" value="Login"><i class="fas fa-sign-in-alt"></i> Login</button>
		<!-- <input type = 'submit' name = 'button' value = 'Login'/> -->
	</div>
	</form>
	{% if messages %}
		{% for message in messages %}
		<p class="error">{{ message }}</p>
		{% endfor %}
	{% endif %}

</div>

</body>
</html>
