{% load static %}
<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>


<body>

	<div class="header">
	  <a href="/home/" class="logo"><i class="fas fa-home"></i> Secure Snippet Test</a>
	  <div class="header-right">
	  	<form action="/submitLogout/">
	  	<button type="submit" class="btn"><i class="fas fa-sign-out-alt"></i> Logout</button>
	  </form>
	  </div>
	</div>

<div class="main">

		<div class="sidenav">
		  	<a href="/home/"><i class="fas fa-home"></i> Your Code Snippets</a>
		  	<a href="/upload/"><i class="fas fa-upload"></i> Upload Snippet</a>
		 	<a href="/searchSnippets/"><i class="fas fa-search"></i> Search Snippets</a>
		</div>

<div class="textContent">

<h1><i class="fas fa-user-circle"></i> Welcome, {{username}}!</h1>
		
		<p>Snippet Test allows you to upload a code snippet for others to code review for security errors. Use this page to upload your Snippets!</p>

		{% if message %}
		<h2>Report:</h2>
		<h3>{{ message }}</h3>
		<div class='cleaned'>
			<p class='cleanedText'>{{ cleanSnippet }}</p>
		</div>
		{% endif %}
		

		<h2>Upload:</h2>
		<p>Upload your code snippets here! You'll recieve an automatic security message once you click upload.</p>
		<form action='/upload/' method='POST'>{% csrf_token %}
			<label name = 'snippetTitle'>Title</label>
			<br>
			<input type="text" name='snippetTitle' />
			<br>
			<label name = 'snippetLanguage'>Language</label>
			<br>
			<input type="text" name='snippetLanguage' />
			<br>
			<label name = 'snippetInput'>Upload Code Snippet</label>
			<div>
			<textarea name='snippetInput' ></textarea>
			</div>
			<button class="btn" type='submit' action='/uploadSnippet/' name='testSnippet'><i class="fas fa-upload"></i> Upload Code Snippet</button>
		</form>
		{% if messages %}
			{% for message in messages %}
			<p class="error">{{ message }}</p>
			{% endfor %}
		{% endif %}

</div>

</div>

</body>
</html>
